


  .box--tiny {
    background-color: rgb(96, 212, 174);
    margin: 30%; 
    padding: 1rem 1.5rem;  
  }
  
 
  .box--small {
    background-color: rgb(57, 150, 150);
    margin: 20%;  
    padding: 1rem 1.5rem;  
  }
  
    .box--big {
    background-color: rgb(21, 61, 61);
    padding: 1rem 1.5rem;  
    margin: 25%;  
  }
  
  
  .box--very-big {
    background-color: rgb(42, 87, 79);
    margin: 30%;  
    padding: 1rem 1.5rem;  
    
  }
  